.equestrian-page {
  margin: 10px 20px;
  font-size: 16px;

  .filters,
  .sort-by {
    display: inline-block;
    margin: 5px 20px;
  }

  input[type='number'] {
    font-size: 14px;
    width: 60px;
    margin: 5px;
  }

  .sort-name-input,
  .sort-total-input,
  .sort-count-input {
    font-size: 14px;
    margin-right: 20px;
    padding: 8px 25px;
    border: 2px #2d68da solid;
    background-color: white;
    border-radius: 5px;

    &:focus {
      background-color: #2d68da;
      color: white;
    }
  }
}
