.equestrian-page {
  font-size: 16px;

  .filters,
  .sort-by {
    display: inline-block;
    margin: 5px 30px;
  }

  input[type='number'] {
    font-family: Monaco;
    font-size: 16px;
    width: 60px;
    margin: 5px;
  }

  .sort-label {
    margin-left: 5px;
    margin-right: 25px;
  }
}
