.main-header {
  height: 100px;
  background-color: black;

  .header-logo {
    height: 85px;
    margin: 5px 10px;
    margin-left: 30px;
  }

  .primary-tabs {
    padding: 40px 20px;
    float: right;
    height: 20px;

    a,
    a:hover,
    a:focus {
      color: #2d68da;
      font-weight: bold;
      font-size: 16px;
      text-decoration: none;
      margin: 0 15px;
      padding: 10px 5px;
    }

    a:focus {
      border-bottom: 1px solid white;
    }
  }
}
