.show-component {
  margin: 20px;

  .show-selection {
    font-weight: bold;
    font-size: 16px;
    padding-left: 5px;
    width: 100%;

    .show-selection-label {
      display: inline-block;
      width: 40%;
    }

    .show-selection-count,
    .show-selection-total {
      display: inline-block;
      text-align: right;
      width: 30%;
    }
  }

  .fee-results {
    display: inline-block;
    font-size: 12px;
    width: 100%;

    .fee-result,
    .fee-result-header {
      margin: 10px;
      width: 98%;

      .fee-name,
      .fee-amount,
      .fee-quantity,
      .fee-total {
        display: inline-block;
        vertical-align: top;
      }

      .fee-name {
        margin: 3px 0;
        width: 40%;
      }

      .fee-amount {
        width: 30%;
      }

      .fee-quantity {
        width: 15%;
      }

      .fee-total {
        width: 15%;
        text-align: right;
      }

      .fee-amount-input,
      .fee-quantity-input {
        font-size: 12px;
        margin: 0;
        margin-left: 5px;
        width: 60%;
      }
    }

    .fee-result-header span {
      margin: 3px 0 !important;
      font-weight: bold;
    }
  }

  .class-results {
    display: inline-block;
    font-size: 12px;
    width: 100%;

    .class-result,
    .class-result-header {
      margin: 10px;
      width: 98%;

      .class-name,
      .class-fence-height,
      .class-placing,
      .class-prize-money,
      .class-entry-fee,
      .class-quantity,
      .class-total {
        display: inline-block;
        vertical-align: top;
      }

      .class-name {
        margin: 3px 0;
        width: 28%;
      }

      .class-fence-height {
        margin: 3px 0;
        width: 12%;
      }

      .class-prize-money {
        width: 12%;
      }

      .class-placing {
        width: 18%;
      }

      .class-entry-fee {
        width: 10%;
      }

      .class-quantity {
        width: 8%;
      }

      .class-total {
        width: 12%;
        text-align: right;
      }

      .class-prize-money-input,
      .class-quantity-input,
      .class-entry-fee-input {
        font-size: 12px;
        margin: 0;
        margin-left: 5px;
        width: 60%;
      }

      .class-placing-input {
        font-size: 12px;
        margin: 0;
        margin-left: 0;
        margin-right: 5px;
        width: 15%;
      }
    }

    .class-result-header span {
      margin: 3px 0 !important;
      font-weight: bold;
    }
  }
}
