html {
  margin: 0;
  height: 100%;
}

body {
  font-family: Monaco, "Helvetica Neue", sans-serif;
  margin: 5px 10px;
  height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
