html {
  margin: 0;
  height: 100%;
}

body {
  border: 20px solid black;
  border-top: 10px solid black;
  font-family: Monaco, 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
